.main-foro{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media(min-width: $media-desktop-min){
        padding: 130px 0 0 0;
        
    }

    .post {
        margin-bottom: 2rem;
    }
}