.main-foro{
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: center;

    @media(min-width: 1500px) {
        margin-left: 150px;
        padding-top: 140px;
    }

    .posts{
        display: flex;
        flex-direction: column;
        
    }
    .post {
        margin-bottom: 2rem;
    }
}