// Body
$body-bg: #f8fafc;

// Main color
// $main-color: #2779F0;
$main-color: #00309a;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Responsiveness
$media-desktop-min: 1024px !default;
