.admin-posts{
    width: calc(100% - 280px);
    margin-left: 280px;

    .b-table{
        background-color: white;
    }

    .level{
        justify-content: center !important;

        .pagination .is-current{
            background-color: #485fc7 !important;
        }
    }

    @media screen and (max-width: 425px){
        width: calc(100% - 180px);
        margin-left: 180px;
    }
}