.admin-posts{
    width: calc(100% - 280px);
    margin-left: 280px;
    height: 100vh;
    background-color: #f8fafc;

.title {

    justify-content: center;
    display: flex;
    padding-top: 20px;
    font-size: x-large;
    color: #00309a;
    font-family: sans-serif;
    margin-bottom: 0px !important;
    padding-bottom: 1.5rem;
}

    .b-table{
        background-color: #f8fafc;

        .table-wrapper .has-mobile-cards{
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    .level{
        justify-content: center !important;

        .pagination .is-current{
            background-color: #00309a !important;
        }

        .pagination-link:hover {
            border-color: #00309a;
          }
    }

    @media screen and (max-width: 425px){
        width: calc(100% - 180px);
        margin-left: 180px;
    }


}